DATABASE_URL="file:./dev.db"
AUTH_SECRET="change-me-in-production-use-openssl-rand-base64-32"
ADMIN_EMAIL="admin@air-cloud-msk.ru"
ADMIN_PASSWORD="change-this-password"
NEXTAUTH_URL="http://localhost:3000"
